# Cache Python
__pycache__/
*.pyc

# Modèles entraînés
*.pt
*.pth
*.h5
*.onnx

# Datasets
train/
test/
valid/
dataset/
datasets/

# Résultats complets d'entraînement
runs/
predictions/
predictions1/

# Images temporaires
imgout/
outimg/

# Environnements Python
venv/
.venv/
env/

# Variables privées
.env
